providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/var/www/html/latihan"
          source: "/var/www/html/latihan/.build-tools.cson"
          name: "setlib"
          command: "mysql_config --libs"
          wd: "."
          env: {}
          modifier:
            env: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
        {
          project: "/var/www/html/latihan"
          source: "/var/www/html/latihan/.build-tools.cson"
          name: "setcflags"
          command: "mysql_config --cflags"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
        {
          project: "/var/www/html/latihan"
          source: "/var/www/html/latihan/.build-tools.cson"
          name: "compile"
          command: "gcc -o output_file -L/usr/lib/x86_64-linux-gnu -lmysqlclient -lpthread -lz -lm -lrt -ldl main.c -I/usr/include/mysql -L/usr/lib/mysql -lmysqlclient"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
        {
          project: "/var/www/html/latihan"
          source: "/var/www/html/latihan/.build-tools.cson"
          name: "run"
          command: "./output_file"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
      ]
  }
]
